@font-face {
  font-family: 'Dotties Chocolate Black';
  src: url('DottiesChocolate-Black.eot');
  src: local('Dotties Chocolate Black'), local('DottiesChocolate-Black'),
    url('DottiesChocolate-Black.eot?#iefix') format('embedded-opentype'),
    url('DottiesChocolate-Black.woff2') format('woff2'),
    url('DottiesChocolate-Black.woff') format('woff'),
    url('DottiesChocolate-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dotties Chocolate BlackItalic';
  src: url('DottiesChocolate-BlackItalic.eot');
  src: local('Dotties Chocolate Black Italic'),
    local('DottiesChocolate-BlackItalic'),
    url('DottiesChocolate-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('DottiesChocolate-BlackItalic.woff2') format('woff2'),
    url('DottiesChocolate-BlackItalic.woff') format('woff'),
    url('DottiesChocolate-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Dotties Chocolate Bold';
  src: url('DottiesChocolate-Bold.eot');
  src: local('Dotties Chocolate Bold'), local('DottiesChocolate-Bold'),
    url('DottiesChocolate-Bold.eot?#iefix') format('embedded-opentype'),
    url('DottiesChocolate-Bold.woff2') format('woff2'),
    url('DottiesChocolate-Bold.woff') format('woff'),
    url('DottiesChocolate-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dotties Chocolate MediumItalic';
  src: url('DottiesChocolate-MediumItalic.eot');
  src: local('Dotties Chocolate Medium Italic'),
    local('DottiesChocolate-MediumItalic'),
    url('DottiesChocolate-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('DottiesChocolate-MediumItalic.woff2') format('woff2'),
    url('DottiesChocolate-MediumItalic.woff') format('woff'),
    url('DottiesChocolate-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Dotties Chocolate ExtraLightItalic';
  src: url('DottiesChocolate-ExtraLightItalic.eot');
  src: local('Dotties Chocolate Extra Light Italic'),
    local('DottiesChocolate-ExtraLightItalic'),
    url('DottiesChocolate-ExtraLightItalic.eot?#iefix')
      format('embedded-opentype'),
    url('DottiesChocolate-ExtraLightItalic.woff2') format('woff2'),
    url('DottiesChocolate-ExtraLightItalic.woff') format('woff'),
    url('DottiesChocolate-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Dotties Chocolate Heavy';
  src: url('DottiesChocolate-Heavy.eot');
  src: local('Dotties Chocolate Heavy'), local('DottiesChocolate-Heavy'),
    url('DottiesChocolate-Heavy.eot?#iefix') format('embedded-opentype'),
    url('DottiesChocolate-Heavy.woff2') format('woff2'),
    url('DottiesChocolate-Heavy.woff') format('woff'),
    url('DottiesChocolate-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dotties Chocolate Regular';
  src: url('DottiesChocolate-Regular.eot');
  src: local('Dotties Chocolate Regular'), local('DottiesChocolate-Regular'),
    url('DottiesChocolate-Regular.eot?#iefix') format('embedded-opentype'),
    url('DottiesChocolate-Regular.woff2') format('woff2'),
    url('DottiesChocolate-Regular.woff') format('woff'),
    url('DottiesChocolate-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dotties Chocolate ExtraBoldItalic';
  src: url('DottiesChocolate-ExtraBoldItalic.eot');
  src: local('Dotties Chocolate Extra Bold Italic'),
    local('DottiesChocolate-ExtraBoldItalic'),
    url('DottiesChocolate-ExtraBoldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('DottiesChocolate-ExtraBoldItalic.woff2') format('woff2'),
    url('DottiesChocolate-ExtraBoldItalic.woff') format('woff'),
    url('DottiesChocolate-ExtraBoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Dotties Chocolate HeavyItalic';
  src: url('DottiesChocolate-HeavyItalic.eot');
  src: local('Dotties Chocolate Heavy Italic'),
    local('DottiesChocolate-HeavyItalic'),
    url('DottiesChocolate-HeavyItalic.eot?#iefix') format('embedded-opentype'),
    url('DottiesChocolate-HeavyItalic.woff2') format('woff2'),
    url('DottiesChocolate-HeavyItalic.woff') format('woff'),
    url('DottiesChocolate-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Dotties Chocolate UltraItalic';
  src: url('DottiesChocolate-UltraItalic.eot');
  src: local('Dotties Chocolate Ultra Italic'),
    local('DottiesChocolate-UltraItalic'),
    url('DottiesChocolate-UltraItalic.eot?#iefix') format('embedded-opentype'),
    url('DottiesChocolate-UltraItalic.woff2') format('woff2'),
    url('DottiesChocolate-UltraItalic.woff') format('woff'),
    url('DottiesChocolate-UltraItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Dotties Chocolate Ultra';
  src: url('DottiesChocolate-Ultra.eot');
  src: local('Dotties Chocolate Ultra'), local('DottiesChocolate-Ultra'),
    url('DottiesChocolate-Ultra.eot?#iefix') format('embedded-opentype'),
    url('DottiesChocolate-Ultra.woff2') format('woff2'),
    url('DottiesChocolate-Ultra.woff') format('woff'),
    url('DottiesChocolate-Ultra.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dotties Chocolate Thin';
  src: url('DottiesChocolate-Thin.eot');
  src: local('Dotties Chocolate Thin'), local('DottiesChocolate-Thin'),
    url('DottiesChocolate-Thin.eot?#iefix') format('embedded-opentype'),
    url('DottiesChocolate-Thin.woff2') format('woff2'),
    url('DottiesChocolate-Thin.woff') format('woff'),
    url('DottiesChocolate-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dotties Chocolate BoldItalic';
  src: url('DottiesChocolate-BoldItalic.eot');
  src: local('Dotties Chocolate Bold Italic'),
    local('DottiesChocolate-BoldItalic'),
    url('DottiesChocolate-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('DottiesChocolate-BoldItalic.woff2') format('woff2'),
    url('DottiesChocolate-BoldItalic.woff') format('woff'),
    url('DottiesChocolate-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Dotties Chocolate ExtraBold';
  src: url('DottiesChocolate-ExtraBold.eot');
  src: local('Dotties Chocolate Extra Bold'),
    local('DottiesChocolate-ExtraBold'),
    url('DottiesChocolate-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('DottiesChocolate-ExtraBold.woff2') format('woff2'),
    url('DottiesChocolate-ExtraBold.woff') format('woff'),
    url('DottiesChocolate-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dotties Chocolate LightItalic';
  src: url('DottiesChocolate-LightItalic.eot');
  src: local('Dotties Chocolate Light Italic'),
    local('DottiesChocolate-LightItalic'),
    url('DottiesChocolate-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('DottiesChocolate-LightItalic.woff2') format('woff2'),
    url('DottiesChocolate-LightItalic.woff') format('woff'),
    url('DottiesChocolate-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Dotties Chocolate RegularItalic';
  src: url('DottiesChocolate-RegularItalic.eot');
  src: local('Dotties Chocolate Regular Italic'),
    local('DottiesChocolate-RegularItalic'),
    url('DottiesChocolate-RegularItalic.eot?#iefix') format('embedded-opentype'),
    url('DottiesChocolate-RegularItalic.woff2') format('woff2'),
    url('DottiesChocolate-RegularItalic.woff') format('woff'),
    url('DottiesChocolate-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Dotties Chocolate ThinItalic';
  src: url('DottiesChocolate-ThinItalic.eot');
  src: local('Dotties Chocolate Thin Italic'),
    local('DottiesChocolate-ThinItalic'),
    url('DottiesChocolate-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('DottiesChocolate-ThinItalic.woff2') format('woff2'),
    url('DottiesChocolate-ThinItalic.woff') format('woff'),
    url('DottiesChocolate-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Dotties Chocolate Medium';
  src: url('DottiesChocolate-Medium.eot');
  src: local('Dotties Chocolate Medium'), local('DottiesChocolate-Medium'),
    url('DottiesChocolate-Medium.eot?#iefix') format('embedded-opentype'),
    url('DottiesChocolate-Medium.woff2') format('woff2'),
    url('DottiesChocolate-Medium.woff') format('woff'),
    url('DottiesChocolate-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dotties Chocolate Light';
  src: url('DottiesChocolate-Light.eot');
  src: local('Dotties Chocolate Light'), local('DottiesChocolate-Light'),
    url('DottiesChocolate-Light.eot?#iefix') format('embedded-opentype'),
    url('DottiesChocolate-Light.woff2') format('woff2'),
    url('DottiesChocolate-Light.woff') format('woff'),
    url('DottiesChocolate-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dotties Chocolate ExtraLight';
  src: url('DottiesChocolate-ExtraLight.eot');
  src: local('Dotties Chocolate Extra Light'),
    local('DottiesChocolate-ExtraLight'),
    url('DottiesChocolate-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('DottiesChocolate-ExtraLight.woff2') format('woff2'),
    url('DottiesChocolate-ExtraLight.woff') format('woff'),
    url('DottiesChocolate-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
